@import "styles/theme.css";
@import "styles/animated-links.css";

/* General */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--standard-text-color);
    font-family: var(--standard-text-font), sans-serif;
    overflow-x: hidden;
    padding-bottom: 50px;
    background-color: #F2F0EF;
}

h2 {
    font-size: var(--header-size);
    font-family: var(--header-text-font), sans-serif;
    margin-bottom: 10px;
}

h5, p {
    font-size: var(--paragraph-size);
}

h5 {
    margin-bottom: -20px;
}

p {
    line-height: 180%;
    opacity: 80%;
}

h5 {
    font-weight: 300;
    letter-spacing: 2px;
}

a {
    color: var(--standard-text-color);
    font-size: var(--paragraph-size)
}

button {
    background-color: transparent;
    border: 1px solid var(--standard-text-color);
    padding: 10px 30px;
    font-family: var(--standard-text-font);
    cursor: pointer;
    font-size: var(--paragraph-size);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
}

button:hover {
    background-color: var(--standard-text-color);
    color: #fff;
}

.container {
    max-width: 1240px;
    padding: 0px 40px;
    margin: auto;
}

.margin-container {
    margin-top: 80px;
}

.space-container {
    margin-top: 160px;
}

.standard-section {
    display: grid;
    grid-template-columns: calc(50% - 25px) calc(50% + 25px);
    gap: 50px;
}

.text-section, .centered-text-section {
    gap: 20px;
}

.text-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.centered-text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-section ul{
    list-style-type: none;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.text-section ul li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.text-section ul li p {
    opacity: 100%;
    font-weight: 400;
    letter-spacing: 1px;
}

/* Navbar */
nav > .container, nav ul {
    display: flex;
    flex-direction: row;
}

nav {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: var(--standard-text-color);
    z-index: 10;
}

nav > .container {
    justify-content: space-between;
    align-items: center;
}

nav > .container, nav .container > img {
    height: 100px;
}

nav h1 a {
    font-family: var(--logo-text-font);
    font-size: var(--logo-text-size);
    text-decoration: none;
    color: var(--hero-text-color);
    flex-grow: 1;
    text-align: center;
}

nav ul {
    list-style: none;
    gap: 80px;
}

nav ul li a {
    color: var(--hero-text-color);
}

nav button {
    display: none;
    background-color: transparent;
    border: none;
    font-size: var(--logo-text-size);
    justify-content: center;
    align-items: center;
}

nav button i {
    color: var(--hero-text-color);
}

/* Hero */
.hero {
    background-image: url("assets/images/hero-placeholder.png");
    background-position: center;
    background-size: cover;

    box-shadow: 5px 98px 251px 137px rgba(0,0,0,0.88) inset;
    -webkit-box-shadow: 5px 98px 251px 137px rgba(0,0,0,0.88) inset;
    -moz-box-shadow: 5px 98px 251px 137px rgba(0,0,0,0.88) inset;
    
    width: 100vw;
    height: 80vh;
    z-index: -10;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    animation: hero-slideshow 20s cubic-bezier(1,.03,.84,.92) 0s infinite;
}

.hero .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 50px;
}

.hero .wrapper h1 {
    font-size: var(--title-size);
    font-family: var(--title-text-font);
    color: var(--hero-text-color);
    text-align: center;
}

.hero .wrapper p {
    letter-spacing: 3px;
    color: var(--hero-text-color);
    opacity: 90%;
    font-size: var(--subtitle-size);
    font-weight: 200;
}

.hero .wrapper button {
    background-color: var(--hero-text-color);
    border: none;
    padding: 10px 40px;
    margin-top: 40px;
    font-family: var(--standard-text-font);
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

.hero .wrapper button:hover {
    transform: translateY(-5%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* About */
.about-images-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: calc(100% - 50px);
}

.about-images-section > * {
    background-position: center;
    background-size: cover;
    -webkit-box-shadow: inset 5px 5px 44px 5px #00000079; 
    box-shadow: inset 5px 5px 44px 5px #0000008e;
}

#about-image-1 {
    grid-row: 1/4;
    background-image: url("assets/images/hero-1.png");
}

#about-image-2 {
    grid-row: 1/6;
    background-image: url("assets/images/hero-2.png");
}

#about-image-3 {
    grid-row: 4/10;
    background-image: url("assets/images/hero-3.png");
}

#about-image-4 {
    grid-row: 6/10;
    background-image: url("assets/images/hero-1.png");
}


@keyframes hero-slideshow {
    0% {
        background-image: url("assets/images/hero-1.png");
    }
    20% {
        background-image: url("assets/images/hero-2.png");
    }
    40% {
        background-image: url("assets/images/hero-3.png");
    }
    60% {
        background-image: url("assets/images/hero-1.png");
    }
    80% {
        background-image: url("assets/images/hero-2.png");
    }
    100% {
        background-image: url("assets/images/hero-3.png");
    }
}

/* Do not edit anything underneath this comment */
@media screen and (max-width: 1278px) {
    nav ul {
        gap: 40px;
    }
    .margin-container {
        margin-top: 60px;
    }
    .standard-section {
        gap: 20px;
        grid-template-columns: calc(50% - 10px) calc(50% + 10px);
    }
    .about-images-section {
        width: calc(100% - 20px);
    }
    
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0px 20px;
    }

    nav > .container, nav .container > img {
        height: 60px;
    }

    nav ul {
        display: none;
    }

    nav button {
        display: flex;
    }

    .hero .wrapper {
        align-items: flex-start;
        padding: 0px 30px;
    }

    .hero .wrapper h1 {
        text-align: left;
    }

    .margin-container {
        margin-top: 50px;
    }

    .standard-section {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
}

@media screen and (max-width: 480px) {
    .hero {
        justify-content: flex-start;
        align-items: flex-start;
    }
    .hero .wrapper {
        margin-top: 40%;
        padding: 0px 20px;
    }
    .margin-container {
        margin-top: 40px;
    }
}