a.animated {
  position: relative;
  text-decoration: none;
}

a.animated::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: black;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a.animated:hover::before {
  transform: scaleX(1);
}